.featureCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    height: 100%;
    backdrop-filter: blur(6px);
}

.featureCard:hover {
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(50%);
    backdrop-filter: contrast(120%);
    backdrop-filter: sepia(75%);
}

.featureCard:hover .description {
    text-shadow: 0px 0px 4px rgba(0,0,0,1), 0px 0px 2px rgba(0,0,0,1), 0px 0px 6px rgba(0,0,0,1);
}

.icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--white);
    margin-bottom: var(--spacing-sm);
}

.title {
    font-size: var(--text-body-lg);
    margin-bottom: var(--spacing-xs);
}


.description {
    font-size: var(--text-body-sm);
    color: var(--white);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .icon {
        width: 56px;
        height: 56px;
        font-size: 1.75rem;
    }

    .title {
        font-size: var(--text-body);
    }

    .featureCard:hover {
        backdrop-filter: blur(6px);
        backdrop-filter: brightness(100%);
        backdrop-filter: contrast(100%);
    }

    .featureCard:hover .description {
        text-shadow: none;
    }

    .featureCard.active {
        backdrop-filter: blur(2px);
        backdrop-filter: brightness(50%);
        backdrop-filter: contrast(120%);
        backdrop-filter: sepia(75%);
    }

    .featureCard.active .description {
        text-shadow: 0px 0px 4px rgba(0,0,0,1), 0px 0px 2px rgba(0,0,0,1), 0px 0px 6px rgba(0,0,0,1);
    }
}
